.App {
  text-align: center;
}



.formImgWrapper{
  position: fixed;
  left: 3%;
  bottom: 10px;
  height: 20vh;
  width: 20vh;
  backdrop-filter: blur(20px) saturate(98%);
  -webkit-backdrop-filter: blur(20px) saturate(98%);
  background-color: rgba(0, 0, 0, 0.45);
 
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 50% 50% ;
  z-index: 9999;
  cursor: pointer;
}

.formImg{
  margin-top: 8px;
  margin-left: 7.5px;
  height: 80%;
  width: auto;
  
}

.filteredDoctors {
  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: fixed;
  top: 55%;
  left: 30%;
  color: var(--color-ivory);
  transform: translate(-50%, -50%);
  width: 400px;
height: auto;
z-index: 70;

 
  backdrop-filter: blur(20px) saturate(98%);
    -webkit-backdrop-filter: blur(20px) saturate(98%);
    background-color: rgba(0, 0, 0, 0.45);
   
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}

.filteredDoctors h2 {
  font-size: 22px;
  margin-bottom: 14px;
}

.filteredDoctors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filteredDoctors li {
  margin-bottom: 8px;
}

.filteredDoctors button {
  margin: 6px;
  background-color:var(--color-mist);
  color: var(--color-black);
  border: none;
  border-radius:0 20%  0 20% ;
  padding: 8px 15px;
  cursor: pointer;
}

.filteredDoctors button:hover {
  background-color: #0056b3;
}